DrawIt.xcodeproj/project.xcworkspace/xcshareddata/DrawIt.xccheckout
DrawIt.xcodeproj/project.xcworkspace/xcuserdata/xaoc1024.xcuserdatad/UserInterfaceState.xcuserstate
DrawIt.xcodeproj/xcuserdata/xaoc1024.xcuserdatad/xcschemes/DrawIt.xcscheme
DrawIt.xcodeproj/xcuserdata/xaoc1024.xcuserdatad/xcschemes/xcschememanagement.plist
